.cu-off-canvas-header {
	position: relative;
	background-color: $cu-light-grey;
	padding: 1.75em 1.25em 1.25em;

	img {
		max-width: 87.5%;
	}

	.close {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		padding: 1.75em 1.25em;
	}

	.cu-off-canvas-links {
		min-height: 1em;
		margin-top: 2.5em;
		position: relative;

		.shifted & {

			.level-1-link, .main-menu {
				opacity: 0;
				z-index: 1;
			}

			.level-2-link {
				opacity: 1;
				z-index: 2;
			}

		}

		.level-1-link, .main-menu {
			opacity: 1;
			z-index: 2;
		}

		.level-1-link, .level-2-link, .main-menu {
			text-transform: uppercase;
			color: $grey2;
			position: absolute;
			@include transition(opacity, 0.5s, ease-in-out);

			.accent {
				color: $theme-blue;
			}

			&.hidden {
				display: none;
			}

			&:hover {
				text-decoration: none;
			}

		}

		.level-1-link {
			right: 0;
		}

		.level-2-link, .main-menu {
			left: 0;
		}

		.level-2-link {
			opacity: 0;
			z-index: 1;
		}

	}

}