.cu-off-canvas-header {
	position: relative;
	background-color: $cu-light-grey;
	padding: 1.75em 1.25em;

	img {
		max-width: 87.5%;
	}

	.close {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		padding: 1.75em 1.25em;
	}

}